<div class="container mt-5">
<h1>Stupid Coaching</h1>

<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="question" placeholder="I am going to work">
  <%# <input type="submit" value="Ask!"> %>
   <button type="submit" class="btn btn-primary">ask</button>
</form>

</div>
